{% extends 'base.html' %}

{% block content %}
{% for societe in societe %}
    
    
<div class="col-md-4">
    <div class="card">
        
        <img class="card-img-top" src="{{societe.img.url}}" alt="Card image cap" >
        <div class="card-body">
            <h4 class="card-title mb-3">{{societe.nom}}</h4>
            <a href="{% url 'reserve' societe.id %}" class="btn btn-info">Faire une reservation</a>
            <p class="card-text">
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock  %}